name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTUP_TOOLCHAIN: stable

jobs:
  lint_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libx11-dev \
            libxkbcommon-dev \
            libxkbcommon-x11-dev \
            libxcb1-dev \
            libxcb-render0-dev \
            libxcb-shape0-dev \
            libxcb-xfixes0-dev \
            libxi-dev \
            libgl1-mesa-dev

      - uses: moonrepo/setup-rust@v1

      - run: cargo check --verbose
      - run: cargo test --verbose
